<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div><p><strong>RESERVA DE HABITACIÓN</strong></p></div>
    <div><p><strong>¿Está seguro que desea confirmar la reserva?</strong></p></div>
    <div><a th:href="@{/end}">Confirmar</a></div>
</body>
</html>