<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div><p><strong>RESERVA DE HABITACIÓN</strong></p></div>
    <div><p><strong>Resumen de la reserva</strong></p></div>
    <div><div><p><b>Nº Adultos:</b> [[${booking.numAdults}]]</p>
              <p><b>Nº Niños:</b> [[${booking.numChildren}]]</p>
              <p><b>Tipo:</b> [[${booking.type}]]</p>
              <p><b>F. Entrada:</b> [[${booking.fEntrada}]]</p>
              <p><b>F. Salida:</b> [[${booking.fSalida}]]</p>
         </div>
    </div>
    <div><a href="#">Volver</a></div>

</body>
</html>